*{
  margin:0;
  padding:0;
  font-family:'poppins','sans-serif';
  box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;
  background:black;
}

.main-width{
  width: 1400 px;
  max-width: 95%;
  margin: 0 auto;

}

.hero{
  height:100%;
  width: 100%;
  min-height: 100vh;
  background:black;
  position:relative;
}

.hero header .logo h2 a{
display: block;
font-size: 32px;
font-weight: 600;
text-decoration: none;
color: white;
}
.hero header .logo h2 a span{
  color:red;
}

.hero header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 30px;
}

nav ul li{
  list-style:none;
  display:inline-flex;
  
}

nav ul li a{
  text-decoration: none;
  color:white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.4s;

}


nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
  border-bottom: 2px solid white;
  color:hotpink;
}

nav ul li .active a{
  border-bottom: 2px solid white;
  color:hotpink;
}

nav ul li.btn a{
  background:transparent;
  color: white;
  border: 1px solid #f5dca8;
  padding: 9px 20px;
  border-radius: 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  margin-left: 150px;

}

nav ul li .btn :hover a{
  display:inline-block;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 9px 25px;
  line-height:1.4;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;

}

.content{
  padding-top: 140px;
}

.content .main-text{
  position:relative;
  z-index: 2;
  margin-bottom: 50px;

}

.content .main-text h6{
  font-size: 14px;
  font-weight: 400;
  color:white;
  margin-bottom: 40px;
}

.content .main-text h1{
  font-size: 100px;
  line-height: 1;
  color: white;
  margin: 0px 0px 45px;
font-family:'Permanent Marker',cursive;
}

.content .main-text h3{
  font-size: 18px;
  font-weight: 600;
  color: white;

}

.content .main-text p{
  max-width: 100%;
  width: 480px;
  color:#fff;
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 50px;
}

.content .main-text a{
  display:inline-block;
  text-decoration: none;
  color: white;
  background:transparent;
  border: 1px solid white;
  padding: 19px 99px;
  line-height:1.2;
  border-radius:20px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 30px;
}

.content .main-text a:hover{
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}

.image{
  position: absolute;
  width:100%;
  height: 85%;
  bottom:-20px;
  right: 0;
  text-align: right;

}

.image img{
height:100%;
}

/*****Games Section********/

#Games1 .content1{
  padding-top:140px;
  margin-bottom:50px;
  padding-left:60px;
}

.content1 .main-text1{
  position:relative;
  z-index: 2;
  margin-bottom: 50px;

}
.content1 .main-text1 h2 u{
  color:white;
  margin-bottom: 40px;
}
.content1 .main-text1 h1{
  font-size: 100px;
  line-height: 1;
  color: white;
  margin: 0px 0px 45px;
font-family:'Permanent Marker',cursive;
}

.content1 .main-text1 h3{
  font-size: 18px;
  font-weight: 600;
  color: white;

}

.content1 .main-text1 p{
  max-width: 100%;
  width: 480px;
  color:#fff;
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 50px;
}

.content1 .main-text1 a{
  display:inline-block;
  text-decoration: none;
  color: white;
  background:transparent;
  border: 1px solid white;
  padding: 19px 99px;
  line-height:1.2;
  border-radius:20px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 30px;
}

.content1 .main-text1 a:hover{
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}

.image1{
  position: absolute;
  width:100%;
  height: 85%;
  bottom:-20px;
  right: 0;
  text-align: right;

}

.image1 img{
height:150%;
width:100%;
margin-right:500px;
margin-top:900px;
padding-top:-190px;
}

/***&^***/
#Games2 .content2{
  padding-top:230px;
  margin-bottom:100px;
  padding-left:120px;
}

.content2 .main-text2{
  position:relative;
  z-index: 2;
  margin-bottom: 50px;

}
.content2 .main-text2 h2{
  font-weight: 400;
  color:white;
  margin-bottom: 40px;
}
.content2 .main-text2 h1{
  font-size: 100px;
  line-height: 1;
  color: white;
  margin: 0px 0px 45px;
font-family:'Permanent Marker',cursive;
}

.content2 .main-text2 h3{
  font-size: 18px;
  font-weight: 600;
  color: white;

}

.content2 .main-text2 p{
  max-width: 100%;
  width: 480px;
  color:#fff;
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 50px;
}

.content2 .main-text2 a{
  display:inline-block;
  text-decoration: none;
  color: white;
  background:transparent;
  border: 1px solid white;
  padding: 19px 99px;
  line-height:1.2;
  border-radius:20px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 30px;
}

.content2 .main-text2 a:hover{
  transform: scale(1.2);
  border: 1px solid #f5dca8;
  background: transparent;
  color: white;
  transition: 0.4s;
}

.image2{
  position: absolute;
  width:100%;
  height: 85%;
  bottom:-20px;
  right: 0;
  text-align: right;

}

.image2 img{
height:150%;
width:100%;
margin-right:1000px;
margin-top:1600px;
}










